In [53]:

import pandas as pd

inFile = "NPP_Extracted_tablez1opendata16uk.csv" 
df = pd.read_csv(inFile)

df.columns.values

array(['V4_0', 'time_codelist', 'time', 'geography_codelist', 'geography',
       'sex_codelist', 'sex', 'age_codelist', 'age',
       'projectiontype_codelist', 'projectiontype',
       'populationmeasure_codelist', 'populationmeasure'], dtype=object)

In [54]:
df["populationmeasure"].unique()

array(['Births', 'Cross_border_rates', 'Deaths', 'Fertility_assumptions',
       'International_migration(In)', 'International_migration(Out)',
       'International_migration(Net)', 'Mortality_assumptions',
       'Population', 'Total_migration(In)', 'Total_migration(Out)',
       'Total_migration(Net)'], dtype=object)

In [55]:
df["projectiontype"].unique()

array(['Low life expectancy', 'High migration', 'Low migration',
       'Principal', 'Zero net migration (natural change only)',
       'High population', 'High fertility', 'Low population',
       'Low fertility', 'High life expectancy'], dtype=object)

In [56]:

# func to swap column names
# uses a dict of {oldName:NewName}
def swapHeaders(df, nameMap):
    
    newHeaders = []
    for col in df.columns.values:
    
        if col in nameMap.keys():
            
            col = nameMap[col]
        newHeaders.append(col)    
    
    df.columns = newHeaders
    return df

In [57]:

# Migration
wanted = [
        'International_migration(In)', 'International_migration(Out)',
        'International_migration(Net)', 'Total_migration(In)', 
        'Total_migration(Out)', 'Total_migration(Net)'
            ]

migration = df.copy()
for pt in migration["populationmeasure"].unique():
    
    if pt not in wanted:
        migration = migration[migration["populationmeasure"] != pt]
        
        
codeLists = {
    "time_codelist":"financial-years",
    "sex_codelist":"npp-all-sex",
    "geography_codelist":"uk-only",
    "age_codelist":"npp-migration-age",
    "projectiontype_codelist":"npp-all-projectiontype",
    "populationmeasure_codelist":"npp-migration-populationmeasure"
}
        
migration = swapHeaders(migration, codeLists)        
migration.to_csv("NPP_Migration.csv", index=False)

migration[:3] # sanity check

,V4_0,financial-years,time,uk-only,geography,npp-all-sex,sex,npp-migration-age,age,npp-all-projectiontype,projectiontype,npp-migration-populationmeasure,populationmeasure
30824,2604.0,Year,2016 - 2017,K02000001,United Kingdom,male,Male,0,0,low-life-expectancy,Low life expectancy,international-migration-in,International_migration(In)
30825,4544.0,Year,2016 - 2017,K02000001,United Kingdom,male,Male,1,1,low-life-expectancy,Low life expectancy,international-migration-in,International_migration(In)
30826,4069.0,Year,2016 - 2017,K02000001,United Kingdom,male,Male,2,2,low-life-expectancy,Low life expectancy,international-migration-in,International_migration(In)

In [58]:

# Deaths
deaths = df.copy()
deaths = deaths[deaths["populationmeasure"] == "Deaths"]
deaths = deaths.drop("populationmeasure", axis=1)
deaths = deaths.drop("populationmeasure_codelist", axis=1)

codeLists = {
    "time_codelist":"financial-years",
    "sex_codelist":"npp-all-sex",
    "geography_codelist":"uk-only",
    "age_codelist":"npp-deaths-age",
    "projectiontype_codelist":"npp-all-projectiontype"
}
        
deaths = swapHeaders(deaths, codeLists)        
deaths.to_csv("NPP_Deaths.csv", index=False)

deaths[:3] # sanity check

,V4_0,financial-years,time,uk-only,geography,npp-all-sex,sex,npp-deaths-age,age,npp-all-projectiontype,projectiontype
6224,1382.0,Year,2016 - 2017,K02000001,United Kingdom,male,Male,birth,Birth,low-life-expectancy,Low life expectancy
6225,332.0,Year,2016 - 2017,K02000001,United Kingdom,male,Male,0,0,low-life-expectancy,Low life expectancy
6226,108.0,Year,2016 - 2017,K02000001,United Kingdom,male,Male,1,1,low-life-expectancy,Low life expectancy

In [59]:

# Mortality Assumptions
mAssumptions = df.copy()
mAssumptions = mAssumptions[mAssumptions["populationmeasure"] == "Mortality_assumptions"]
mAssumptions = mAssumptions.drop("populationmeasure", axis=1)
mAssumptions = mAssumptions.drop("populationmeasure_codelist", axis=1)

codeLists = {
    "time_codelist":"financial-years",
    "sex_codelist":"npp-all-sex",
    "geography_codelist":"uk-only",
    "age_codelist":"npp-mortalityandcrossborderrates-age",
    "projectiontype_codelist":"npp-all-projectiontype"
}
        
mAssumptions = swapHeaders(mAssumptions, codeLists)
mAssumptions.to_csv("NPP_MortalityAssumptions.csv", index=False)

mAssumptions[:3] # sanity check

,V4_0,financial-years,time,uk-only,geography,npp-all-sex,sex,npp-mortalityandcrossborderrates-age,age,npp-all-projectiontype,projectiontype
94424,354.172807,Year,2016 - 2017,K02000001,United Kingdom,male,Male,birth,Birth,low-life-expectancy,Low life expectancy
94425,82.469208,Year,2016 - 2017,K02000001,United Kingdom,male,Male,0,0,low-life-expectancy,Low life expectancy
94426,26.706628,Year,2016 - 2017,K02000001,United Kingdom,male,Male,1,1,low-life-expectancy,Low life expectancy

In [60]:

# Population
population = df.copy()
population = population[population["populationmeasure"] == "Population"]
population = population.drop("populationmeasure", axis=1)
population = population.drop("populationmeasure_codelist", axis=1)

codeLists = {
    "time_codelist":"calendar-years",
    "sex_codelist":"npp-all-sex",
    "geography_codelist":"uk-only",
    "age_codelist":"npp-population-age",
    "projectiontype_codelist":"npp-all-projectiontype"
}
        
population = swapHeaders(population, codeLists)
population.to_csv("NPP_PopulationNumbers.csv", index=False)

population[:3] # sanity check

,V4_0,calendar-years,time,uk-only,geography,npp-all-sex,sex,npp-population-age,age,npp-all-projectiontype,projectiontype
119824,401630.0,Year,2016,K02000001,United Kingdom,male,Male,0,0,low-life-expectancy,Low life expectancy
119825,402554.0,Year,2016,K02000001,United Kingdom,male,Male,1,1,low-life-expectancy,Low life expectancy
119826,406751.0,Year,2016,K02000001,United Kingdom,male,Male,2,2,low-life-expectancy,Low life expectancy

In [61]:

# Fertility
fertility = df.copy()
fertility = fertility[fertility["populationmeasure"] == "Fertility_assumptions"]
fertility = fertility.drop("populationmeasure", axis=1)
fertility = fertility.drop("populationmeasure_codelist", axis=1)

codeLists = {
    "time_codelist":"financial-years",
    "sex_codelist":"npp-all-sex",
    "geography_codelist":"uk-only",
    "age_codelist":"npp-birthsandfertility-age",
    "projectiontype_codelist":"npp-all-projectiontype"
}
        
fertility = swapHeaders(fertility, codeLists)
fertility.to_csv("NPP_Fertility.csv", index=False)

fertility[:3] # sanity check

,V4_0,financial-years,time,uk-only,geography,npp-all-sex,sex,npp-birthsandfertility-age,age,npp-all-projectiontype,projectiontype
27624,1.549461,Year,2016 - 2017,K02000001,United Kingdom,female,Female,15,15,low-life-expectancy,Low life expectancy
27625,4.127344,Year,2016 - 2017,K02000001,United Kingdom,female,Female,16,16,low-life-expectancy,Low life expectancy
27626,10.831707,Year,2016 - 2017,K02000001,United Kingdom,female,Female,17,17,low-life-expectancy,Low life expectancy

In [62]:

# Births
births = df.copy()
births = births[births["populationmeasure"] == "Births"]
births = births.drop("populationmeasure", axis=1)
births = births.drop("populationmeasure_codelist", axis=1)

codeLists = {
    "time_codelist":"financial-years",
    "sex_codelist":"npp-all-sex",
    "geography_codelist":"uk-only",
    "age_codelist":"npp-birthsandfertility-age",
    "projectiontype_codelist":"npp-all-projectiontype"
}
        
births = swapHeaders(births, codeLists)
births.to_csv("NPP_Births.csv", index=False)

births[:3] # sanity check

,V4_0,financial-years,time,uk-only,geography,npp-all-sex,sex,npp-birthsandfertility-age,age,npp-all-projectiontype,projectiontype
0,533.0,Year,2016 - 2017,K02000001,United Kingdom,female,Female,15,15,low-life-expectancy,Low life expectancy
1,1457.0,Year,2016 - 2017,K02000001,United Kingdom,female,Female,16,16,low-life-expectancy,Low life expectancy
2,3934.0,Year,2016 - 2017,K02000001,United Kingdom,female,Female,17,17,low-life-expectancy,Low life expectancy

In [63]:

"""
Cross border rates had a fundamentally different structure to the other datasets, with national borders appearing
along the top row of the xls/xml in place of time.

Thus far we've just extracted them in the same way (so the borders are specified in the time columns) as it allows
us to have a single xml extraction script. We do the tidy up here.

"""

# Sanity check - not `time` column
crossBorderRates = df.copy()
crossBorderRates = crossBorderRates[crossBorderRates["populationmeasure"] == "Cross_border_rates"]

births[:3]

,V4_0,financial-years,time,uk-only,geography,npp-all-sex,sex,npp-birthsandfertility-age,age,npp-all-projectiontype,projectiontype
0,533.0,Year,2016 - 2017,K02000001,United Kingdom,female,Female,15,15,low-life-expectancy,Low life expectancy
1,1457.0,Year,2016 - 2017,K02000001,United Kingdom,female,Female,16,16,low-life-expectancy,Low life expectancy
2,3934.0,Year,2016 - 2017,K02000001,United Kingdom,female,Female,17,17,low-life-expectancy,Low life expectancy

In [64]:
# finish what we started in the cell above
crossBorderRates["npp-border"] = crossBorderRates["time"].str.lower()
crossBorderRates["border"] = crossBorderRates["time"]

crossBorderRates = crossBorderRates.drop("populationmeasure", axis=1)
crossBorderRates = crossBorderRates.drop("populationmeasure_codelist", axis=1)

codeLists = {
    "time_codelist":"calendar-years",
    "sex_codelist":"npp-all-sex",
    "geography_codelist":"uk-only",
    "age_codelist":"npp-birthsandfertility-age",
    "projectiontype_codelist":"npp-all-projectiontype"
}

# Create user friendly user names
borderLabels = {
    "Wa":"Wales",
    "Ni":"Northern Ireland",
    "En":"England",
    "Sc":"Scotland",
}
def createBorderLabel(cell):
    countries = cell.split("_")
    assert len(countries) == 2, "Aborting. Cannot split on '_' to get two country codes using cell(s?) within the border column."
    return borderLabels[countries[0]] + " to " + borderLabels[countries[1]]

crossBorderRates["border"] = crossBorderRates["border"].apply(createBorderLabel)

# SET THE YEAR
crossBorderRates["time"] = "2016"

# Drop the zero migration porjections as can never contain data (no migration - no border crossing)
crossBorderRates = crossBorderRates[crossBorderRates["projectiontype"] != "Zero net migration (natural change only)"]
    
crossBorderRates = swapHeaders(crossBorderRates, codeLists)
crossBorderRates.to_csv("NPP_CrossBorderRates.csv", index=False)

crossBorderRates[:3]

,V4_0,calendar-years,time,uk-only,geography,npp-all-sex,sex,npp-birthsandfertility-age,age,npp-all-projectiontype,projectiontype,npp-border,border
3200,0.118356,Year,2016,K02000001,United Kingdom,male,Male,0,0,low-life-expectancy,Low life expectancy,en_ni,England to Northern Ireland
3201,0.225094,Year,2016,K02000001,United Kingdom,male,Male,1,1,low-life-expectancy,Low life expectancy,en_ni,England to Northern Ireland
3202,0.176966,Year,2016,K02000001,United Kingdom,male,Male,2,2,low-life-expectancy,Low life expectancy,en_ni,England to Northern Ireland